<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>

  <group ns="$(arg uav_name)">

    <node pkg="nodelet" type="nodelet" name="compton_plotter" args="standalone compton_camera_python/ComptonPlotter" output="screen">

      <rosparam file="$(find compton_camera_python)/config/plotter.yaml" command="load" />

      <!-- subscribed topics -->
      <remap from="~cone_in" to="/cones" />
      <remap from="~source_in" to="/radiation/sources" />

    </node>

  </group>

</launch>
